body { font: normal 100% Helvetica; }
img { max-width: 100%; width: 100%; }

div#page { margin: 24px auto; width: 90%; }

h1, #page h1 a { font-size: 1em; color: #669933; } /* 16 / 16 */
	.no-break { white-space:nowrap; }
h2 { margin-top: 0.3em; font-size: 0.9em; }
	h2 a { font-size: 0.8em; }

a { text-decoration: none; }
	a:link { color: #0174DF; }
	a:visited { color: #045FB4; }
	a:hover { text-decoration: underline; }
	
input[type="button"] { background: #669933; border: 1px solid #999999; padding-bottom: 2px; }

div#calendar { float: left; width: 25.454545%; margin: 0; padding: 0;  } /* 280 / 1100 */
	div#calendar p#asof { margin: 10px 0 0 0; font-size: 0.7em; text-align: right; }
	div#calendar caption { font-size: 0.9em; }
	div#calendar caption a { color: black; text-decoration: none; }
	div#calendar p, div#calendar ul { font-size: 0.9em; margin-top: 10px; }
		div#calendar table { margin-bottom: 10px; border-spacing: 1px; width: 100%; }
		div#calendar td.calday { font-size: 0.6em; border: 1px solid white; padding: 0.5em 5% 5% 0.6em; vertical-align: top; } 
			div#calendar td.hover { text-decoration: underline; border: 1px solid black; }
			div#calendar td.selected { text-decoration: underline; border: 1px solid black; }
		div#calendar p.legend { margin: 0 0 10px; font-size: 0.6em; }
			span#low-range { float: left; }
			span#high-range { float: right; }
	.no-data { background: #808080; }
	div#calendar p.notes { font-size: 0.7em; margin: 0; }
	ul { list-style-type: none; margin-top: 5px; padding-left: 3.57%; } /* 10 / 280 */

div#data table { font-size: 0.8em; margin-bottom: 10px; border-spacing: 1px; }
	div#data th, div#data td { text-align: right; vertical-align: bottom; border-bottom: 1px solid #CCCCCC; padding: 0.2em; }
	div#data .name { text-align: left; }
	div#data .positive { color: #669933; }
	div#data .negative { color: #CD0A0A; }
	div#data p { font-size: 0.8em; margin: 0; padding: 0.2em; }

div#options { clear: both; } 
		p { margin: 26px 0 0 0; }
		form {  padding-top: 5px; }

div#chart { float: right; width: 72.363636%; height: 70%; margin: 0; padding: 0; font-size: 0.8em; } /* 796 / 1100 */
	div#chart p#chartSelector { text-align: center; margin-bottom: 10px; }
	div#chart p#chartSelector a { padding: .3em 1em; border: 1px solid #999999; text-decoration: none; color: #585858; background-color: #CCCCCC; } 
	div#chart p#chartSelector a.button-active { background-color: #E6E6E6; color: #000000; } 
	div#chart p#chartSelector a#schart { border-right: 0px; }
	div#chart div#summary { margin: 0; height: 300px; }
	div#chart div#monthly { margin: 0; height: 300px; }

footer { clear: both; padding: 10px 0; font-size: 0.7em; color: #585858; }
	p#instructions { display: none; }

@media screen and (max-width: 320px) { /* 320px */
	div#page { margin: 5px 5px; width: 100%; }
	div#chart { display: none; }
	p#instructions { display: block; }
}

@media screen and (max-width: 480px) and (orientation: landscape) { 
	h1 { font-size: 0.6em; }
	h2 { font-size: 0.5em; }
	div#calendar { display: none; }
	div#chart { font-size: 0.5em; }
	div#chart { display: block; width: 400px; }
	footer { font-size: 0.4em; }
	p#instructions { display: block; }
}

@media screen and (max-width: 768px) { 
	div#calendar { width: 100%; }
	div#chart { width: 100%; }
}

@media screen and (max-width: 1160px) {
	div#page { margin: 5px 5px; width: 98.6979167%; }
}